.header {
    width: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2.5rem;
    color: white;
  
    &__left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    &__nav-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
    }
  
    &__logo-img {
      height: 1rem;
      object-fit: contain;
      margin-left: 2rem;
    }
  
    &__links {
      display: flex;
      gap: 2rem;
      margin-bottom: 4px;
    }
  
    &__link {
      position: relative;
      text-decoration: none;
      color: #ccc;
      font-size: 1rem;
      font-weight: 500;
      transition: color 0.2s ease;
  
      &.active {
        color: white;
        font-weight: 700;
      }
  
      &.active::after {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
      }
  
      &:hover {
        color: white;
      }
    }
  
    &__pagination {
      display: flex;
      gap: 6px;
      margin-left: 14rem;

  
      &-dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        margin-top: 0.8rem;
        background-color: rgba(255, 255, 255, 0.25);
        transition: background-color 0.2s ease;
  
        &.active {
          background-color: white;
        }
      }
    }
  
    &__beta {
      background-color: #444;
      color: #ccc;
      font-size: 0.6rem;
      padding: 2px 5px;
      margin-left: 6px;
      border-radius: 2px;
      text-transform: uppercase;
    }
  
    &__right {
      display: flex;
      align-items: center;
      gap: 1.8rem;
      margin-right: 1rem;
    }
  
    &__icon {
      font-size: 1.4rem;
      color: white;
      cursor: pointer;
      transition: opacity 0.2s ease;
  
      &:hover {
        opacity: 0.8;
      }
    }
  
    &__avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid white;
      cursor: pointer;
    }
  }
  